* {
    background-color: rgb(81, 81, 185);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBanner, .statusDisplay {

    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: xx-large;
}

.startButton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: rgb(108, 108, 173);;
    
}

.boardGrid {

display: grid;
grid-template: 80px 80px 80px/ 80px 80px 80px;
gap: 10px;
margin: 10px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;

}

.boardGrid > div {
    border: 1px solid tomato;
}

.statusDisplay {
    display: grid;
    place-items: center;
    width: 260px;
    height: 80px;
    margin: 10px;
    text-shadow: 1px 1px 1px black;
    border: 1px solid tomato;
    font-size: 3vw;
    padding: 2px 5px;



}